#coding:utf-8
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Добро пожаловать на ТВИТТЕР-ШМИТТЕР, <%= @user.name %></h1>
    <p>
      Вы только что успешно залогировались на сайт ТВИТТЕР-ШМИТТЕР
      Ваше имя: <%= @user.name %>.<br/>
    </p>
    <p>
      Чтоб зайти на сайт, пройдите по ссыле: <%= @url %>.
    </p>
    <p>Будем рады видеть Вас почаще :) !</p>
  </body>
</html>