#coding:utf-8
<h1>Редактировать информацию</h1>

<%= form_for(@user) do |f| %>
  <%= render "fields", :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_tag @user %>
  <a href="http://gravatar.com/emails" target=_blank>change</a>
</div>

