%h1
  =project_name+" | "+@title
#help_chapter1
  %ul.menu
    %li
      %a{:href => "http://www.webdesignerwall.com"} Web Designer Wall
      %em A wall of design ideas, web trends, and tutorials
    %li
      %a{:href => "http://www.webdesignerwall.com"} Web Designer Wall
      %em A wall of design ideas, web trends, and tutorials
    %li
      %a{:href => "http://www.webdesignerwall.com"} Web Designer Wall
      %em A wall of design ideas, web trends, and tutorials
%br/
#help_chapter2
  .accordion
    %h3 Question One Sample Text
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi malesuada, ante at feugiat tincidunt, enim massa gravida metus, commodo lacinia massa diam vel eros. Proin eget urna. Nunc fringilla neque vitae odio. Vivamus vitae ligula.
    %h3 This is Question Two
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi malesuada, ante at feugiat tincidunt, enim massa gravida metus, commodo lacinia massa diam vel eros. Proin eget urna. Nunc fringilla neque vitae odio. Vivamus vitae ligula.
    %h3.alert_tag Another Questio here
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi malesuada, ante at feugiat tincidunt, enim massa gravida metus, commodo lacinia massa diam vel eros. Proin eget urna. Nunc fringilla neque vitae odio. Vivamus vitae ligula.
    %h3 Sample heading
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi malesuada, ante at feugiat tincidunt, enim massa gravida metus, commodo lacinia massa diam vel eros. Proin eget urna. Nunc fringilla neque vitae odio. Vivamus vitae ligula.
    %h3 Sample Question Heading
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi malesuada, ante at feugiat tincidunt, enim massa gravida metus, commodo lacinia massa diam vel eros. Proin eget urna. Nunc fringilla neque vitae odio. Vivamus vitae ligula.
%br/
#help_page
  %p
    %a.run{:href => "#"} Run
  #box
