# coding: utf-8
<% if signed_in? %>
  <%= render 'shared/show_microposts' %>
<% else %>
    <h1>Sample App | <%=@title %></h1>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>